@charset "utf-8";
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color:#1a1a1a;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}
nav a:hover{
    background: #FFFFFF;
    color: #1a1a1a;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin:30px;
    font-family: Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    font-size: 15px;
    font-weight: 700;
}
.logo{
    font-family: Calibri;
    color:#FFFFFF;
    font-size: 22px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: calibri;
}

body{
    background: linear-gradient(to right, #3525af, #9153c9);
}
.resume{
    width: 800px;
    background:#fff;
    margin: 25px auto;
    display: flex;
}
.left{
    background:#1a1a1a;
    width: 250px;
    padding: 0 20px;
}
.right{
    width: calc(100% - 250px);
}
.left .img_holder{
    text-align: center;
    padding: 20px 0;
}
.left .img_holder img{
    width: 200px;
    border-radius: 30px;
}
.pb{
    padding-bottom: 20px;
}
.title{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;
    color:#9153c9;
    position: relative;
    text-align: right;
    margin-bottom: 25px;
    margin-top: 20px;
}
.title:before{
    content: "";
    position: absolute;
    top: 35px;
    right: 0;
    width: 50px;
    height: 3px;
    background:#9153c9;
}
.left .text{
    color: #9153c9;
    text-transform: uppercase;
    font-size: 16px;
}
.skills,
.hobbies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills .wrap,
.hobbies .wrap{
    width: 95px;
    height: 75px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skills .wrap .text,
.hobbies .wrap .text{
    margin-top: 5px;
}
.skills .wrap .text,
.hobbies .wrap .text{
    color: #fff;
}
.skills .wrap:hover,
.hobbies .wrap:hover{
    background: #fff;
}
.skills .wrap:hover .text,
.hobbies .wrap:hover .text{
    color: #9153c9;
}

.header{
    background:#1a1a1a;
    padding: 15px 30px;
    color: #fff;
    height: 240px;
}
.header .name{
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 700;
    color:#FFFFFF;
}
.header .role{
    font-weight: 300;
    font-size: 20px;
}
.header .about{
    margin-top: 20px;
    line-height: 26px;
}
.right_inner .education{
    margin-top: 30px;
}
.right_inner .wrap{
    display: flex;
    margin-bottom: 25px;
}
.right_inner .wrap .date{
    width: 125px;
    color:#9153c9;
    text-align: center;
    font-weight: bold;
}
.right_inner .wrap .info{
    width: calc(100% - 125px);
    padding-left: 25px;
    position: relative;
}
.right_inner .wrap .info_title{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #9153c9;
}
.right_inner .wrap .info_com{
    font-size: 14px;
    margin-top: 3px;
}
.right_inner .wrap .info_cont{
    margin-top: 15px;
}
.right_inner .wrap .info:before{
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #9153c9;
    border-radius: 50%;
}
.right_inner .wrap .info:after{
    content: "";
    position: absolute;
    top: 10px;
    left: 4px;
    width: 2px;
    height: 90%;
    background: #9153c9;
}   